<div class="row" id="home">
    <img src="assets/images/Ratnagiri-beach-omg.jpg" alt="HomeImg" style="width: 100%; height: 75vh">
</div>


<div class="container mt-2" id="plans">
    <div class="row">
        <div class="col-12">
            <h2 class="display-1 text-center">Plans</h2>
        </div>
    </div>
    <div class="row">
        <div class="card-group px-5">
            <!-- Single plan -->
            <div class="card">
                <h5 class="card-header text-center fw-bold">Single</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush" *ngFor="let planItems of singlePlanArr">
                        <li class="list-group-items my-2 mx-3">{{planItems}}</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                   <a class="btn btn-primary" routerLink="plantrip">Book Now</a>
                </div>
            </div>

            <!-- Family plan -->
            <div class="card ">
                <h5 class="card-header text-center fw-bold">Family</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush" *ngFor="let planItems of singlePlanArr, familyPlanArr">
                        <li class="list-group-items my-2 mx-3">{{planItems}}</li>
                    </ul>
                    <ul class="list-group list-group-flush" *ngFor="let planItems of familyPlanArr">
                        <li class="list-group-items my-2 mx-3">{{planItems}}</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary"  routerLink="plantrip">Book now</button>
                </div>
            </div>

            <!-- Group plan -->
            <div class="card">
                <h5 class="card-header text-center fw-bold">Group</h5>
                <div class="card-body">
                    <ul class="list-group list-group-flush" *ngFor="let planItems of singlePlanArr, familyPlanArr">
                        <li class="list-group-items my-2 mx-3">{{planItems}}</li>
                    </ul>
                    <ul class="list-group list-group-flush" *ngFor="let planItems of familyPlanArr">
                        <li class="list-group-items my-2 mx-3">{{planItems}}</li>
                    </ul>
                    <ul class="list-group list-group-flush" *ngFor="let planItems of groupPlanArr">
                        <li class="list-group-items my-2 mx-3">{{planItems}}</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" routerLink="plantrip">Book now</button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- About us -->
<div id="aboutus">
   <h2>About us</h2> 
   <p>           <b>Less suffering , More Traveling</b>  <br><br>

    Our mission at Konkan Tourism is to make affordable travel accessible to more people, to deliver affordable and enjoyable travel experiences that are seamless from end to end. By seamless, we mean hassle-free from the moment you start planning your trip.
    
    To get to your goal, the Konkan Tourism app helps to make searching and booking with customize travel plan as easy and stress-free as it ought to be.
    </p>
</div>

<!-- Contact us form -->

<div>
    <form action="">
        Name:- <input type="text" name="Name"><br><br>
        Email:- <input type="email" name="Email"><br><br>
        Message:- <textarea name="Email"  cols="30" rows="10"></textarea><br><br>
        <button class="btn btn-success">Submit</button><br>
    </form>
</div>